// h1 a {
//     color: #FCA205;
//     font-family: 'Merriweather', serif;
//     font-weight: 800;
//     font-size: 40px;
//
// }
//
// h1 a:hover {
//     color: #FC8709
// }

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-family: 'Merriweather', serif;
    font-size: 36pt;
    text-decoration: none;
}



div.post {
    .post_title {
        font-family: 'Merriweather', serif;
        font-weight: normal;
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .author {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 15px;
    }

    .text {
        font-family: 'Raleway', sans-serif;
        font-weight: normal;
        font-size: 15px;
        padding-top: 10px;
    }

}
