<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Raleway" rel="stylesheet">
    <title>Django Tutorial</title>
</head>
<body>
    <div class="page-header">
        <h1><a href="#">Django Tutorial</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% for post in posts %}
                <div class="post">
                    <h2 class="post_title"><a href="#">{{ post.title }}</a></h2>
                    <span class="published_date">{{ post.published_date }}      </span>
                    <span class="author">      Author : {{ post.author }}</span>
                    <p class="text">{{ post.text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>
